* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #1d1f1e;
}



.d-grid {
    display: grid;
}

.container-app {
    display: grid;
    height: 100vh;
    grid-template-rows: 5.6vw 40px 50px 45px auto;
}

.banner{
    background-color: aqua ;
}
.menu{
    background-color: blue;
}
.watch-list{
    background-color: blueviolet;
}
.filters{
    background-color: brown;
}
.cryptos{
    background-color: green;
}