* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #1d1f1e;
}

a{
    text-decoration: none;
}

.container-app {
    display: grid;
    height: 100vh;
    grid-template-rows: 5.6vw 40px 50px auto;
}

#banner {
    background-color: aqua;
}

.btn-close-banner{
    z-index: 100;
    background-color: rgb(216, 216, 216);
    border: none;
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    font-size: 10px;
}

.btn-close-banner:hover{
    cursor: pointer;
}

.btn-close-banner:active{
    
}

/* -------------------------------------- */
/* nav */
nav {
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

.nav-left {
    height: 100%;
    background-color: blanchedalmond;
    width: 200px;
}

.nav-right {
    height: 100%;
    background-color: chocolate;
    width: 100px;
}

/* --------------------------------------- */
/* watch-list */
.watch-list {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

.watch-list-left {
    height: 100%;
    width: 100px;
    background-color: cadetblue;
}

.watch-list-center {
    height: 100%;
    width: 100px;
    background-color: cadetblue;
}

.watch-list-right {
    height: 100%;
    width: 200px;
    background-color: cadetblue;
}


/* ----------------------------- */
/* container-cryptos */
.container-cryptos {
    display: grid;
    grid-template-columns: 85vw 15vw;
    background-color: green;
}

.container-cryptos-left {
    display: grid;
    grid-template-rows: 45px auto;
    background-color: aliceblue;
}

.cryptos-filters {
    background-color: aquamarine;
}

.cryptos_price {
    background-image: url(../images/crypto_price.png);
    background-origin: border-box;
    background-size: cover;
}

/* -------------------------------------- */
.hide-container-cryptos-right{
    position: relative;
    top :50%;
    left: -5px;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    background-color: black;
}

.hide-container-cryptos-right:hover{
    cursor: pointer;
}


