* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #1d1f1e;
}

.nav-left-ul{
    align-self: center;
}

.nav-left-ul li{
    list-style-type: none;
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    transition: color 0.2s;
}

.nav-left-ul li:hover{
    cursor: pointer;
    color: green;
}

.nav-left-span{
    color: #fff;
    align-self: center;
    margin-left: 10px;
    background-color: #5c8456;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%,14px 50%);
    padding: 5px 10px 5px 20px;
    text-align: center; 
}

span:hover{
    cursor: pointer;
}
.stake-ufc{
    padding: 5px;
    background-color: black;
    margin: 5px 0px; 
    margin-left: 8px;
}
a{
    text-decoration: none;
}

.container-app {
    display: grid;
    height: 100vh;
    grid-template-rows: 5.6vw 40px 50px auto;
}

#banner {
    background-image: url("../images/Shan-2300x130-px.gif");
    background-size: cover;
}

.btn-close-banner{
    z-index: 100;
    background-color: rgb(216, 216, 216);
    border: none;
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    font-size: 10px;
}

.btn-close-banner:hover{
    cursor: pointer;
}

/* -------------------------------------- */
/* nav */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #2a2b2b;;
}

.nav-left {
    height: 100%;
    display: flex;
}

.nav-left i{
    color: #fff;
    align-self: center;
    font-size: 20px;
    padding: 10px;
    background-color: #404141;
    display: none;
}

.nav-left-logo{
    padding: 10px;
}
/* nav-right */
.nav-right {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.container-log-in{
    display: flex;
    background-color: #7ec17f;
    color: #262626;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.fa-user::after{
    content: " Log In";
}
.container-log-in:hover{
    cursor: pointer;
}

.container-language{
    display: flex;
    align-items: center;
    background-color: #404141;
    color: #7ec17f;
    margin: 2px;
    padding: 5px;
}
.container-language:hover{
    cursor: pointer;
}
.fa-globe::after{
    content: " USD";
}
.container-search{
    display: flex;
    align-items: center;
    padding: 5px;
    background: rgba(29,31,30,.7);
}
.fa-search{
    color: #888686;
    margin-right: 5px;
    background-color: rgba(29,31,30,.7);;
}
.input-search{
    color: #888686;
    border: none;
    box-sizing: border-box;
    background-color: #3b3b3b;
    padding: 5px;
    width: 100px;
}
.input-search:focus{
    border: none;
    outline: 0;
    box-sizing: border-box;
}


/* --------------------------------------- */
/* watch-list */
.watch-list {
    display: flex;
    justify-content: flex-start;
    background-color: #000;
    align-items: center;
}
.watch-list-left:hover{
    cursor: pointer;
}

.watch-list i{
    color: #8cf17c;
    margin-left: 10px;
}


.watch-list-left{
    background-color: #1d1f1e;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.watch-list-left i {
    color: #5c8456;
}

.watch-list i:hover {
    cursor: pointer;
}

.watch-list-left a {
    color: #888686;
    margin-left: 8px;
}


/* ----------------------------- */
/* container-cryptos */
.container-cryptos {
    display: grid;
    grid-template-columns: 85vw 15vw;
    background-color: green;
}

.container-cryptos-left {
    display: grid;
    grid-template-rows: 45px auto;
    background-color: aliceblue;
}

.cryptos-filters {
    background-color: #1d1f1e;
    display: flex;
    justify-content: space-between;
}

.crypto-filters-left{
    display: flex;
}

.cryptos_price {
    /* background-image: url(../images/crypto_price.png); */
    background-origin: border-box;
    background-size: cover;
}


.performance{
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    align-items: center;
    background-color: #404141;
    color: #888686;
}

.performance a{
    color: #888686;
}

.performance i{
    margin-left: 4px;
}

.performance a span{
    color: #fff
}

.block-size{
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
    align-items: center;
    background-color: #404141;
    color: #888686;
    margin-left: 10px;
}
.block-size a{
    color: #888686;
}
.block-size i{
    margin-left: 4px;
}

.block-size a span{
    color: #fff
}

.crypto-filters-right{
    display: flex;
    align-items: center;
}

.fa-flash{
    background-color: #8cf17c;
    padding: 8px;
}


/* -------------------------------------- */
.hide-container-cryptos-right{
    position: relative;
    top :50%;
    left: -15px;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    background-color: black;
    border: none;
    width:30px;
    height: 30px;
}

.hide-container-cryptos-right:hover{
    cursor: pointer;
}


